.text{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}


.arrow{
    height: 20px;
    width: auto;
}

 .text2{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10%;
    
} 
.text3{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10%;
    
} 
.page4parent{
    height: auto;
    width: 80vw;
    padding-left: 10%;
    padding-top: 5%;
}

.text4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10%; 
}



.intext0{
    font-size: larger;
    padding-left: 20%;
}

.intext1{

    display: flex;
    
    padding-right: 50%;
    padding-top: 10%;
}

.intext2{
    display: flex;
    padding-right: 50%;
    padding-top: 10%;
  
}

.intext3{
    display: flex;
    padding-right: 50%;
    padding-top: 5%; 
    
  
}

.intext4{
    display: flex;
    padding-right: 50%;
    padding-top: 5%; 
    
  
}
.rectangle2{
    margin-top: 10%;    
    height: 50px;
    width: 100px;
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border: solid 1px gray;
    
    
}

.rectangle3{
    margin-top: 10%;    
    height: 50px;
    width: 100px;
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border: solid 1px gray;
}

.rectangle4{
    margin-top: 10%;    
    height: 50px;
    width: 100px;
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border: solid 1px gray;
}

.rectangle5{
    margin-top: 10%;    
    height: 50px;
    width: 100px;
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border: solid 1px gray;
}



.horizontal{
    padding-inline: 50px;
    
}

.text5{
    display: flex;
    justify-content: space-between;
    padding: 10%;
}

.page4thumbparent{
    height: auto;
    width: 80vw;
    padding-left: 10%;
    padding-top: 5%;
}

.text6{
    display: flex;
    justify-content: space-between;
    padding-left: 30%;
}